/* (주)한신정보기술 OOO - 2014.04.01 */

/* 컨텐츠 그룹 */
#container{position:relative;width:100%;padding:0;}

/* 비주얼 */
.visual{position:relative;height:313px;}
.visual .visual_control{position:absolute;top:15px;left:0;z-index:150;width:100%;}
.visual .visual_control .wrap{text-align:right}
.visual .visual_control button{padding:0 5px;font-size:0;}
.visual .btn_number button{width:18px;height:18px;padding:0;background: url(/site/www/images/main/main_icon.png) no-repeat  -155px -6px;}
.visual .btn_number button.active{background-position: -185px -6px;}
.visual .btn_arrow button{width:22px;height:22px;padding:0;background: url(/site/www/images/main/main_icon.png) no-repeat  4px 0;}
.visual .btn_arrow button span{display:block}
.visual .btn_arrow button.btn_prev{background-position: -4px -4px;}
.visual .btn_arrow button.btn_pause{background-position: -94px -4px;}
.visual .btn_arrow button.btn_play{background-position: -63px -4px;}
.visual .btn_arrow button.btn_next{background-position: -33px -4px;}
.visual .visual_list{position:relative;height:313px;background:#fff}
.visual .visual_list li{display:none;position:absolute;top:0;left:0;z-index:50;width:100%;height:313px;}
.visual .visual_list li.active{display:block;z-index:60;}
.visual .visual_list li .wrap{position:relative;width:989px;height:313px;margin:0 auto;}
.visual .visual_list li .wrap a{display:block;width:100%;height:100%;}
.visual .visual01{background:url(../images/main/visual_bg2.gif) top center no-repeat ;}
.visual .visual02{background:url(../images/main/visual_bg.gif) no-repeat top center;}
.visual .visual03{background:url(../images/main/visual_bg3.gif) no-repeat top center;}
@media only screen and (max-width:640px){
    .visual .visual_list li{height:100%;}
    .visual .visual_list li .wrap{width:100%;}
    .visual .visual_list li img{width:100%}
}

.rowgroup{margin:30px 0 0}
/* 팝업존 */
.colgroup{display:inline;float:left;width:258px;}
.popup{position: relative;margin:0;}
.popup h2{}
.popup .popup_count{position: absolute;top: 0;right: 120px;}
.popup .popup_control{display: block;position:absolute;top: 0;right: 0;z-index:10}
.popup .popup_control button, .popup .popup_control a{display:block;float:left;width:27px;height:27px;margin:0;padding:0;border:1px solid #e9e9e9;border-left:none;background:#fff url(/site/www/images/main/main_icon.png) no-repeat  8px 8px;font-size:0;line-height:0;}
.popup .popup_control button:first-child{border-left:1px solid #e9e9e9;}Ï
.popup .popup_control a{height:25px;}
.popup .popup_control .btn_prev {background-position : -2px -2px}
.popup .popup_control .btn_pause{background-position : -92px -2px}
.popup .popup_control .btn_play {background-position : -61px -2px}
.popup .popup_control .btn_next {background-position : -32px -2px}
.popup .popup_control .btn_more {background-position : -122px -2px}
.popup .more{}
.popup .popup_wrap {overflow: hidden;position: relative;z-index:1; width: 258px;height: 198px; margin-top : 20px;}
.popup  ul.popup_list img{border:solid 1px #eee;}
.popup  ul.popup_list a{display:block}
.popup  ul.popup_list li figcaption{visibility:hidden; overflow:hidden; position:absolute; height:0; width:0; font-size:0; }
@media only screen and (max-width:640px){
    .colgroup{display:block;float:none;width:100%}
    .popup .popup_wrap {margin:0 auto}
}
.colgroup2{display:inline;float:left;width:460px;margin:0 20px;}
/* 주요소식 */
.board{position:relative;height:249px;}
.board ul{margin:0 48px 0 0;}
.board ul li{display:inline;float: left;padding:0;}
.board > ul > li{width:24.9%;}
.board > ul > li > a{display: block;padding:5px 0 0;border:1px solid #ccc;border-left:none;background:#f4f4f4;color:#686868;font-size:15px;line-height:30px;text-align:center;text-decoration:none;}
.board > ul > li:first-child > a{border-left:1px solid #ccc;}
.board > ul > li.active a{background:#fff;border-bottom:none;}
.board > ul > li.active a{}
.board ul li img{margin-left:5px;vertical-align:top}
.board ul div.tabcontent{position: absolute;top: 55px;left:0;width:100%; padding:0;}
.board ul ul{width: 96%;margin:0 2%;}
.board ul ul li{display: inline;float: left;width:100%;margin:0;padding:0;background: url(/site/www/images/main/board_bul.gif) no-repeat 0 10px}
.board ul ul li a{display: block;float: left; width: 80%; margin-left:10px;padding:0;font-size:14px;color:#757575;line-height:1.8em;text-align:left;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;text-decoration:none;}
.board ul ul li span{float:right;color:#9e9e9e;font-size:0.9em}
.board > ul > li .more {position: absolute;top: -50px;right: 0;width: 50px; height: 27px;font-size: 0;line-height: 0;}
.board > ul > li .more a{display:block;width:100%;height:100%;background: url(/site/www/images/main/main_icon.png) no-repeat -110px -2px;}
@media only screen and (max-width:640px){
    .colgroup2{display:block;float:none;width:100%;margin:0}
    .board{margin:15px 0}
    .board ul ul li a{width:70%}
}

.colgroup3{display:inline;float:left;}

/* 뉴스 */
.news{position:relative;top:0;width:calc(100% - 758px);height:156px;margin:0;}
.news h2{}
.news .wrap{overflow: hidden;position:relative;width:340px;margin:20px 0 0;}
.news .news_list{overflow: hidden;position:relative;width:70000px;}
.news .news_list li{display:inline;float:left;width:345px;}
.news .news_list .photo{display:inline;float:left;margin:0 10px 0 0;padding:2px;border:solid 1px #eee;}
.news .news_list figcaption{display:inline;float:left;width:188px;}
.news .news_list figcaption p{width:188px;margin:13px 0 0;color:#757575}
.news .news_list figcaption .subject{display:block;color:#30497f;font-size:1.2em;letter-spacing:-1px;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
.news .news_control {display: block;position:absolute;top: 0;right: 0;z-index:10}
.news .news_control button, .news .news_control a{display:block;float:left;width:27px;height:27px;margin:0;padding:0;border:1px solid #e9e9e9;border-left:none;background:#fff url(/site/www/images/main/main_icon.png) no-repeat 8px 8px;font-size:0;line-height:0;}
.news .news_control button:first-child{border-left:1px solid #e9e9e9;}
.news .news_control a{height:25px;}
.news .news_control .btn_prev{background-position : -2px -2px}
.news .news_control .btn_next{background-position : -32px -2px}
.news .news_control .btn_more{background-position : -122px -2px}

.rowgroup2{margin:25px 0}
/* 베너존 */
.banner{position:relative;margin:0;}
.banner .banner_control {display: block;position:absolute;top: 10px;left: 0;z-index:10}
.banner .banner_control button, .banner .banner_control a{display:block;float:left;width:27px;height:27px;margin:0;padding:0;background:#fff url('/site/www/images/main/main_icon.png') no-repeat 8px 8px;border:1px solid #e9e9e9;border-left:none;font-size:0;line-height:0;}
.banner .banner_control button:first-child{border-left:1px solid #e9e9e9;}
.banner .banner_control a{height:25px;}
.banner .banner_control .button_prev{background-position : -2px -2px}
.banner .banner_control .button_next{background-position : -32px -2px}
.banner .banner_control .button_ctrl.pause{background-position : -92px -2px}
.banner .banner_control .button_ctrl.play{background-position : -61px -2px}
.banner .banner_wrap {overflow:hidden;position:relative;width:calc(100% - 115px);height:47px;margin-left:115px;}
.banner ul.banner_list {position:relative;width:3000px;}
.banner ul.banner_list li{float:left;display:inline;margin:0;padding-right:38px;font-size:0;line-height:0}
.banner ul.banner_list li a{display:block;}
.banner ul.banner_list li img{width:120px;height:45px;border:1px solid #e9e9e9}

@media only screen and (max-width:640px){
    .banner .banner_control {position:relative;top:0;width:100%}
    .banner .banner_wrap {margin : 8px 0 0 0}
}

