%visually-hidden{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
%contrast-searchTitleColor{color:#fff}
%contrast-searchSubTitleColor{}
.searchMain{position:relative;}
.searchForm{position:absolute;top:170px;left:0;right:0;z-index:1;width:1330px;height:250px;margin:0 auto 0;
    h3{@extend %visually-hidden;}
    &::before,&::after{display:block;position:absolute;width:100%;}
    &::before{bottom:0;height:168px;background:#f5f8fa;border-radius:40px;}
    &::after{top:0;height:150px;background:linear-gradient(120deg, #42c0a7 30%, #009f99 78%);border-radius:75px;}
    .formInner{position:relative;z-index:1;}
    .inputArea{position:relative;width:750px;height:70px;margin:40px auto 0;padding:18px 90px 0 55px;background:#fff;border-radius:35px;
        svg{position:absolute;top:25px;left:24px;width:20px;height:20px;}
        input{display:block;width:100%;border:none;color:#8c8c8c;font-size:22px;line-height:24px;}
        button{position:absolute;top:8px;right:8px;width:80px;height:54px;padding:0 0 3px;background:#009991;border:none;border-radius:27px;color:#fff;font-size:18px;font-weight:500;}
    }
    .searchResult{margin:77px 0 0;font-size:28px;line-height:30px;text-align:center;}
}
.searchMain .content-area{margin-top:115px;padding-top:200px;padding-bottom:1px;
    h3{@extend %visually-hidden;}
}
.contentAreaWrap{width:100%;max-width:1530px;margin:0 auto;}

.searchNavigation{display:flex;margin:40px auto;
    h4{@extend %visually-hidden;}
    a{display:block;flex:0 0 calc(100% / 8);padding:19px 0 17px;border:1px solid #d5d7dd;border-bottom-color:#009991;border-radius:7px 7px 0 0;text-align:center;
        &.current{border-color:#009991;border-bottom-color:#fff;color:#009991;}
    }
}
.searchDetailResult{padding-bottom:40px;
    .titleArea{display:flex;position:relative;min-height:40px;margin:0 0 20px;padding:14px 110px 0 0;
        h4{color:#1d2845;font-family:SB;font-size:24px;font-weight:700;line-height:26px;}
        .resultCount{display:block;position:relative;margin:0 0 0 30px;padding:0 0 0 26px;color:#515862;font-size:17px;line-height:19px;
            &::before{display:block;position:absolute;top:0;left:0;width:16px;height:20px;background:url(../images/search/icon-document.png) no-repeat;}
        }
        a{display:block;position:absolute;top:0;right:0;padding:7px 10px 9px;border:1px solid #757b8e;border-radius:7px;color:#515862;font-size:17px;line-height:19px;vertical-align:middle;
            &::after{display:inline-block;width:14px;height:14px;margin:0 0 0 5px;background:url(../images/search/icon-plus.png) no-repeat;}
        }
    }
}
.table-searchResult{width:100%;border-bottom:1px solid #26293d;
    caption{@extend %visually-hidden;}
    thead{
        th{position:relative;padding:20px 10px;border-top:1px solid #26293d;
            &::before{display:block;position:absolute;top:50%;left:0;width:1px;height:14px;background:#e3e5e8;transform:translateY(-50%);}
            &.first{
                &::before{display:none;}
            }
        }
    }
    td{padding:17px 10px;border-top:1px solid #e3e5e8;}
    tbody{
        tr{
            &:first-child{
                td{border-top-color:#898f9d;}
            }
        }
    }
}
.imageList-searchResult{display:flex;width:calc(100% + 30px);margin:0 0 0 -30px;
    li{flex:0 0 calc(25% - 30px);margin:0 0 0 30px;}
    a{display:block;padding:0 0 30px;border:1px solid #ccc;border-radius:20px;overflow:hidden;}
    .image{display:flex;justify-content:center;align-items:center;width:100%;height:506px;margin:0 0 18px;overflow:hidden;background:#f5f8fa;border-bottom:1px solid #ccc;
        &.no-image{display:flex;justify-content:center;align-items:center;
            img{width:90%;max-width:220px;}
        }
        img{width:100%;max-height:100%;}
    }
    .place{display:inline-block;margin:0 0 0 20px;padding:3px 8px 5px;background:#e8e8f8;border-radius:15px;color:#3b3b3b;font-size:17px;line-height:19px;}
    .title{display:block;height:52px;overflow:hidden;margin:20px 20px 15px;color:#202223;font-size:20px;font-weight:600;line-height:26px;}
    .date,.time{display:block;position:relative;margin:4px 20px;padding:0 0 0 15px;color:#515862;font-size:17px;line-height:19px;
        &::before{display:block;position:absolute;top:8px;left:0;width:6px;height:6px;background:#e1e1e1;border-radius:50%;}
    }
}
.textList-searchResult{border-top:1px solid #1f1f1f;border-bottom:1px solid #757b8e;
    li{padding:20px 0;border-top:1px solid #e3e5e8;color:#515862;font-size:17px;line-height:19px;
        &:first-child{border-top:none;}
    }
    span{display:block;}
    .title{display:flex;margin:0 0 15px;
        .titleText{color:#202223;font-weight:600;}
        .date{margin:0 0 0 10px;}
    }
    .text{line-height:21px;}
    .url{display:flex;justify-content:flex-start;margin:20px 0 0;
        &::after{display:inline-block;width:16px;height:16px;margin:3px 0 0 10px;background:url(../images/search/icon-link.png) no-repeat;}
    }
}
.pagination-searchResult{display:flex;justify-content:center;align-items:center;margin:55px 0 0;
    a{display:inline-block;width:40px;height:40px;margin:0 5px;padding:9px 0 0;border-radius:50%;color:#4d4d4d;font-size:16px;line-height:18px;text-align:center;
        &:hover{background:#f5f8fa;}
        span{@extend %visually-hidden;}
        &.current{color:#009991;background:#f5f8fa;}
    }
    .movePage{display:inline-block;position:relative;width:48px;height:48px;border:1px solid #d6d8de;border-radius:50%;
        &::before{display:block;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;background-repeat:no-repeat;background-position:0 0;}
        &.first::before,&.last::before{width:11px;height:11px;background-image:url(../images/search/icon-arr-double.png);}
        &.prev::before,&.next::before{width:6px;height:11px;background-image:url(../images/search/icon-arr.png);}
        &.next::before,&.last::before{transform:rotate(180deg);}
    }
}
.lectureState{display:inline-block;padding:3px 10px 5px;border:1px solid #d5d7dd;border-radius:12px;color:#808080;font-size:15px;line-height:17px;
    &.state1{border-color:#18c3a2;color:#18c3a2;}
    &.state2{border-color:#3f65d9;color:#3f65d9;}
    &.state3{border-color:#d5d7dd;color:#808080;}
}
.noSearchResult{display:flex;justify-content:center;align-items:center;padding:24px 20px 65px;border-top:1px solid #1f1f1f;border-bottom:1px solid #757b8e;
    &::before{display:block;width:210px;height:137px;background:url(../images/search/img-noImage.png) no-repeat;}
    p{margin:40px 0 0 20px;color:#515862;font-size:20px;line-height:22px;}
}
.redB{color:#f14d64;font-weight:700;}
.textAlignCenter{text-align:center}
.textAlignLeft{text-align:left}
.textAlignRight{text-align:right}

.activeContrast{color:#bdc5d5;
    a{color:#bdc5d5;}
    input{color:#bdc5d5;
        &::placeholder{color:#bdc5d5;}
    }
    .searchForm{
        &::after{background:linear-gradient(120deg, #195d53 27%, #143837 100%);}
        &::before{background:#1d2124;}
        .inputArea{background:#1d2124;
            svg{color:#fff;}
            input{background:transparent;color:#bdc5d5;}
        }
    }
    .searchNavigation{
        a{
            &.current{border-bottom-color:#0a0e11;}
        }
    }
    .searchDetailResult{
        .titleArea{
            h4{color:#fff;}
            .resultCount{color:#bdc5d5;}
            a{color:#bdc5d5;}
        }
    }
    .noSearchResult{
        p{color:#bdc5d5;}
    }
    .imageList-searchResult{
        a{border-color:#4a4c58;}
        .title{color:#fff;}
        .date,.time{color:#bdc5d5;}
        .image{background:#2a3136;border-bottom-color:#4a4c58;}
    }
    .textList-searchResult{
        .title{
            .titleText{color:#fff;}
        }
    }
    .table-searchResult{border-bottom-color:#6c7582;
        thead{
            th{border-top-color:#eeeff1;}
        }
        td{border-top-color:#2d2f3d;}
        tbody{
            tr{
                &:first-child{
                    td{border-top-color:#6c7582;}
                }
            }
        }
    }
}
@media all and (max-width: 1600px) {
    .contentAreaWrap{width:calc(100% - 60px);margin:0 30px;}
}
@media all and (max-width: 1400px) {
    .searchForm{width:calc(100% - 60px);}
}
@media all and (max-width: 1000px) {
    .searchMain{
        .content-area{margin-top:66px;padding-top:90px;}
    }
    .searchForm{top:60px;height:150px;
        &::before{height:98px;border-radius:20px;}
        &::after{height:92px;}
        .inputArea{height:50px;margin:20px auto 0;padding:8px 90px 0 55px;
            svg{top:14px;left:20px;}
            input{font-size:16px;line-height:18px;}
            button{top:7px;right:7px;height:36px;font-size:16px;line-height:18px;}
        }
        .searchResult{margin:37px 0 0;font-size:16px;line-height:18px;}
    }
    .searchDetailResult{
        .titleArea{min-height:30px;margin:0 0 10px;padding:5px 80px 0 0;
            h4{font-size:18px;line-height:20px;}
            .resultCount{padding:0 0 0 18px;font-size:14px;line-height:16px;
                &::before{top:1px;width:12px;height:15px;background-size:100% auto;}
            }
            a{padding:5px 7px 7px;font-size:14px;line-height:16px;
                &::after{width:10px;height:10px;background-size:100% auto;}
            }
        }
    }
    .noSearchResult{padding:24px 20px 40px;
        &::before{width:100px;height:65px;background-size:100% auto;}
        p{margin:12px 0 0 20px;font-size:14px;line-height:16px;}
    }
    .imageList-searchResult{flex-wrap:wrap;width:calc(100% + 20px);margin:0 0 0 -20px;
        li{flex:0 0 calc(50% - 20px);margin:20px 0 0 20px;}
        .place{font-size:14px;line-height:16px;}
        .title{height:40px;margin:10px 20px;font-size:16px;line-height:20px;}
        .date,.time{padding:0 0 0 10px;font-size:14px;line-height:16px;
            &::before{top:7px;width:4px;height:4px;}
        }
    }
    .textList-searchResult{
        li{font-size:14px;line-height:16px;}
        .title{margin:0 0 5px;
            .titleText{}
        }
        .url{margin:10px 0 0;
            &::after{width:12px;height:12px;background-size:100% auto;}
        }
    }
    .tableScroll{overflow:hidden;overflow-x:auto;
        th,td{white-space:nowrap;}
    }
    .table-searchResult{font-size:14px;line-height:16px;
        th,td{padding:10px 5px;}
        thead{
            th{padding:14px 5px;}
        }
    }
    .lectureState{font-size:14px;line-height:16px;}
    .pagination-searchResult{
        a{padding:10px 0 0;font-size:14px;line-height:16px;}
    }
}
@media all and (max-width: 880px) {
    .contentAreaWrap{width:calc(100% - 40px);margin:0 20px;}
    .searchForm{width:calc(100% - 40px);
        .inputArea{width:auto;margin:20px;}
        .searchResult{margin:20px 0 0;}
    }
    .searchNavigation{display:block;padding:15px;border:1px solid #d5d7dd;border-radius:7px;text-align:center;
        a{display:inline-block;position:relative;width:auto;margin:0 5px;padding:5px 10px 7px 10px;border:none;font-size:14px;line-height:16px;white-space:nowrap;
            &::before{display:block;position:absolute;top:11px;left:0;width:4px;height:4px;background:#d5d7dd;border-radius:2px;}
            &.current{
                &::before{background-color:#009991;}
            }
        }
    }
}
@media all and (max-width: 800px) {
    .pagination-searchResult{
        a{width:28px;height:28px;padding:4px 0 0;}
        .movePage{width:28px;height:28px;
            &::before{background-size:100% auto;}
            &.first::before,&.last::before{width:7px;height:7px;}
            &.prev::before,&.next::before{width:4px;height:8px;}
        }
    }
}
@media all and (max-width: 600px) {
    .imageList-searchResult{
        .image{height:280px;}
    }
    .textList-searchResult{
        .url{display:block;word-wrap:break-word;
            &::after{display:none;}
        }
    }
    .pagination-searchResult{display:block;position:relative;width:50px;margin:20px auto 0;
        a{display:none;margin:5px auto;
            &.current{display:block;position:relative;width:50px;margin:0 auto;padding:5px 0 0 10px;border-radius:5px;text-align:left;
                &::before,&::after{display:block;position:absolute;top:0;bottom:0;width:8px;height:2px;margin:auto 0;background:#009991;border-radius:2px;}
                &::before{right:10px;}
                &::after{right:10px;transform:rotate(90deg);}
                &.active{
                    &::after{transform:none;}
                }
            }
        }
        .movePage{display:block;position:absolute;top:0;margin:0;
            &.first{left:-71px;}
            &.prev{left:-38px;}
            &.next{left:60px;}
            &.last{left:93px;}
        }
        &.active{
            a{display:block;}
        }
    }
}
@media all and (max-width: 460px) {
    .searchForm{
        .inputArea{padding:8px 50px 0 14px;
            svg{display:none;}
            input{font-size:14px;line-height:16px;
                &::placeholder{font-size:14px;line-height:16px;}
            }
            button{width:40px;border-radius:15px;font-size:14px;line-height:16px;}
        }
    }
    .imageList-searchResult{width:100%;margin:0;
        li{flex:0 0 100%;margin:15px 0 0;
            &:first-child{margin:0;}
        }
        .image{height:auto;min-height:150px;}
    }
}





























