%visually-hidden{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
body{background:#f9fbfc;overflow-x:hidden;transition:background .3s;}
.bg-circle{position:absolute;top:0;left:0;z-index:-1;width:100%;height:0;
    .circle{display:block;position:absolute;border-radius:100%;
        &.colorGreen{top:-526px;left:-208px;width:728px;height:728px;background:rgba(151,224,96,.1);background:linear-gradient(360deg, rgba(151,224,96,.1) 0%, rgba(151,224,96,0) 30%);}
        &.colorBlue{top:-511px;right:-422px;width:800px;height:800px;background:rgba(75,84,255,.15);background:linear-gradient(360deg, rgba(75,84,255,.15) 0%, rgba(75,84,255,0) 30%);}
        &.colorOrange{top:161px;right:98px;width:778px;height:778px;background:rgba(240,172,151,.2);background:linear-gradient(180deg, rgba(240,172,151,.2) 0%, rgba(240,172,151,0) 30%);}
    }
}
.activeNavigation{
    .bg-circle{display:none;}
}
main{padding:1px 0 0;}
.page-title{width:100%;max-width:1530px;margin:63px auto 0;color:#1d2845;font-family:SB;font-size:43px;font-weight:700;line-height:45px;text-align:center;}
.content-option{display:flex;position:relative;z-index:1;width:100%;max-width:1530px;height:100px;margin:8px auto 3px;
    &::before{display:block;position:absolute;top:0;left:55px;opacity:.3;width:100%;max-width:1380px;height:100px;background:#fff;background:linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);border-radius:0 0 60px 40px;box-shadow:0 0 20px rgba(31,51,139,.05);}
    .contentNavigation{display:flex;flex:0 0 calc(100% - 460px);position:relative;width:calc(100% - 460px);
        .navHome{display:block;position:relative;width:70px;height:70px;margin:11px 0 0;background:#42c0a7;background:linear-gradient(120deg, #42c0a7 0%, #009f99 77%);border-radius:35px 35px 20px 35px;box-shadow:5px 5px 20px 5px rgba(50, 80, 125, .1);
            &::before{display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:19px;height:19px;margin:auto;background:url(/site/www/images/sub/sprite-subNavigation.png) no-repeat 0 0;}
            span{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
        }
    }
    .contentNavigationList{display:flex;flex:0 0 calc(100% - 70px);width:calc(100% - 70px);margin:8px 0 0;padding:0 50px 0 0;
        > li{flex:0 0 33.333333%;width:33.333333%;}
        button{display:block;position:relative;width:100%;height:78px;padding:0 0 0 30px;background:none;border:none;color:#3b4452;font-size:20px;line-height:22px;text-align:left;
            &::before,&::after{display:block;position:absolute;}
            &::before{top:36px;right:30px;width:12px;height:8px;background:url(/site/www/images/sub/sprite-subNavigation.png) no-repeat 0 -29px;}
            &::after{top:30px;right:0;width:1px;height:20px;background:#c6cbd5;}
        }
        ul{display:none;}
        .active{
            button{background:#099991;background:linear-gradient(90deg, #1da88c 0%, #0a9893 78%);border-radius:25px 25px 0 0;color:#fff;font-weight:700;
                &::before{background-position:-22px -29px;}
                &::after{display:none;}
            }
            ul{display:block;position:relative;padding:19px 0;background:#099991;background:linear-gradient(90deg, #1da88c 0%, #0a9893 78%);box-shadow:0 0 20px rgba(50,80,125,.1);border-radius:0 0 25px 25px;
                &::before{display:block;position:absolute;top:0;left:20px;right:20px;height:1px;background:rgba(255,255,255,.3);}
                a{display:block;margin:5px 20px;padding:4px 10px;color:#fff;font-size:18px;font-weight:500;line-height:20px;}
            }
        }
    }
    .asideLinks{display:flex;justify-content:flex-end;position:relative;flex:0 0 460px;width:460px;padding:21px 0 0;
        ul{display:flex;
            > li{position:relative;
                &:last-child{margin:0 0 0 10px;}
            }
        }
        button{
            span{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
        }
        .contentShare,.contentPrint{display:block;position:relative;width:60px;height:60px;background:#3b4452;border:none;border-radius:25px;
            svg{display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:26px;height:24px;margin:auto;color:#fff;}
        }
        .contentShare{z-index:1;transition:background .3s;
            svg{display:none;
                &.active-icon{display:block;}
            }
            &.active{background:#1d2845;
                svg{
                    &.active-icon{display:none;}
                    &.inactive-icon{display:block;}
                }
            }
        }
        .shareList{display:none;align-items:center;justify-content:center;position:absolute;top:0;right:50px;z-index:0;width:340px;height:60px;background:#fff;border-radius:30px;
            ul{display:flex;align-items:center;justify-content:center;margin:0 0 0 20px;
                li{margin:0 0 0 8px;
                    &:first-child{margin:0}
                }
                button{position:relative;width:34px;height:34px;border:none;border-radius:50%;
                    &::before{display:block;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;background:url(/site/www/images/sub/sprite-subNavigation.png) no-repeat;}
                    &.facebook{background:#3461bc;
                        &::before{width:9px;height:17px;background-position:-10px -129px}
                    }
                    &.instagram{background:#d73083;
                        &::before{width:15px;height:16px;background-position:-10px -155px}
                    }
                    &.meta{background:#000;
                        &::before{width:14px;height:15px;background-position:-10px -181px}
                    }
                    &.naver-blog{background:#2db400;
                        &::before{width:12px;height:16px;background-position:-10px -204px}
                    }
                    &.link{background:#757b8e;
                        &::before{width:17px;height:18px;background-position:-10px -230px}
                    }
                }
            }
        }
        .active + .shareList{display:flex;}
    }
}
.content-area{position:relative;z-index:0;padding:1px 0 0;background:#fff;border-radius:218px 218px 0 0;box-shadow:0 0 30px rgba(55,104,171,.03);
    .content{width:100%;max-width:1530px;min-height:900px;margin:80px auto 0;padding-bottom:50px;background:rgba(255,255,255,.2);
        &.program{margin:40px auto 0;
            h3{@extend %visually-hidden;}
        }
    }
    h4{display:block;margin:0 0 28px;color:#1d2845;font-family:SB;font-size:24px;font-weight:700;line-height:26px;}
    * + h4{margin:40px 0 28px;}
    h5{color:#1f1f1f;font-size:20px;font-weight:600;line-height:22px;}
    h5 + * {margin-top:13px;}
}
.point-color-red{color:#f34d64;}
.point-color-green{color:#009991;}
.ul{
    li{position:relative;padding:0 0 0 16px;line-height:21px;
        &::before{display:block;position:absolute;top:9px;left:0;width:5px;height:5px;background:#4d4d4d;border-radius:3px;}
    }
}
.customLink{display:inline-flex;align-items:center;height:auto;padding:6px 15px 8px;border:1px solid #757b8e;border-radius:8px;color:#515862;vertical-align:middle;
    span{display:inline-block;padding:2px 0 1px;border-bottom:1px solid transparent;}
    &.isIcon{
        &.beforeIcon{
            &::before{display:inline-block;margin:0 10px 0 0;}
        }
        &.afterIcon{
            &::after{display:inline-block;margin:0 0 0 7px;}
            &.plus{
                &::after{width:14px;height:14px;background:url(../images/program/icon-plus.png) no-repeat 0 0;}
            }
        }
    }
    &.bgBlack{background:#4a4f66;border-color:#4a4f66;color:#fff;}
    &.lineGray{border-color:#d5d7dd;}
    &.bgGreen{background:#009991;border-color:#009991;color:#fff;}
}
.table{flex:0 0 100%;width:100%;
    caption{@extend %visually-hidden;}
    &.default{border-top:1px solid #26293d;border-bottom:1px solid #757b8e;
        th,td{padding:18px 18px 20px;border-left:1px solid #d5d7dd;
            &.first{border-left:none;}
        }
        th{background:#f5f8fa;border-top:1px solid #d5d7dd;color:#515862;text-align:center;}
        td{border-top:1px solid #d5d7dd;}
        > thead{
            th{font-weight:600;text-align:center;}
            > tr{
                &:first-child{
                    th{border-top:none;}
                }
            }
        }
        > tbody{
            > tr{
                &:first-child{
                    th,td{border-top:none;}
                }
                > th{width:200px;}
            }
        }
    }
    &.program{border-top:2px solid #4a4f66;border-bottom:1px solid #4a4f66;
        > tbody{
            > tr{
                > th,> td{padding:10px;vertical-align:middle;border-top:1px solid #d5d7dd;}
                > th{color:#1f1f1f;font-weight:600;}
            }
        }
        > tbody{
            > tr{
                &:first-child{
                    th,td{border-top:none;}
                }
            }
        }
    }
    &.formTable{
        th{text-align:left;}
    }
    &.boardList{border-top:1px solid #26293d;border-bottom:1px solid #757b8e;
        th,td{padding:16px 5px 19px;}
        th{position:relative;color:#515862;font-weight:600;
            &::before{display:block;position:absolute;top:50%;left:0;width:1px;height:14px;background:#e3e5e8;transform:translateY(-50%);}
            &.first{
                &::before{display:none;}
            }
        }
        td{border-top:1px solid #e3e5e8;vertical-align:middle;}
        tr{
            &:first-child{
                td{border-color:#898f9d;}
            }
        }
    }
    &.modalTable{border-top:1px solid #26293d;border-bottom:1px solid #757b8e;
        th,td{padding:8px 5px 11px;border-top:1px solid #e3e5e8;}
        th{color:#1f1f1f;font-weight:600;text-align:left;}
        tr{
            &:first-child{
                th,td{border-top:none;}
            }
        }
    }
    .innerCell{display:flex;align-items:center;flex-wrap:wrap;min-height:49px;vertical-align:middle;}

}
* + .table{margin-top:10px;}
.iconText{display:block;position:relative;width:100%;min-height:20px;margin:10px 0 0;font-size:16px;line-height:18px;
    &::before{display:block;position:absolute;left:0;background:url(../images/program/icon-program.png) no-repeat;}
    &.comment{padding:0 0 0 26px;
        &::before{top:0;width:18px;height:18px;background-position:-354px 0;}
    }
    &.caution{padding:0 0 0 20px;
        &::before{top:2px;width:16px;height:16px;background-position:-382px 0;}
    }
}
.iconText + * {margin-top:13px;}
.flexVAlignCenter{display:flex;align-items:center;
    .iconText{width:auto;}
}
.flexHAlignCenter{display:flex;justify-content:center;
    .iconText{width:auto;}
}
.textAlignLeft{text-align:left;}
.textAlignCenter{text-align:center;}
.textAlignRight{text-align:right;}
.marginTop20{margin-top:20px;}
.marginTop30{margin-top:30px;}
.marginTop40{margin-top:40px;}
.scrollWrap-table{flex:0 0 100%;overflow:hidden;overflow-x:auto;
    .table{
        th,td{white-space:nowrap;}
    }
}
* + .scrollWrap-table{margin:15px 0 0;}
.flexWrap{display:flex;
    .flexLeft{flex:0 0 50%;text-align:left;}
    .flexRight{flex:0 0 50%;text-align:right;}
}
//고대비 모드
.activeContrast{background:#102d29;transition:background .3s;
    .page-title{color:#fff;}
    .content-option{
        &::before{background:#0a0e11;background:linear-gradient(180deg, rgba(10, 14, 17, 0) 0%, rgb(10, 14, 17) 50%);}
        .contentNavigationList{
            button{color:#bdc5d5;
                &::after{background:#6c7582;}
            }
        }
        .asideLinks{
            .contentShare,.contentPrint{background:#1a5e53;}
            .shareList{background:rgba(10,14,17,.5);
                > span{color:#717a8b;}
            }
        }
    }
    .content-area{background:#0a0e11;
        .content{color:#bdc5d5;}
        h4{color:#bdc5d5;}
    }
}
.contentBox{display:flex;padding:30px 45px;background:linear-gradient(145deg, #f4f7fb 0%, #f3f9f4 74%);border-radius:80px 30px 30px 30px;color:#515862;font-size:17px;line-height:27px;
    &::before{display:block;width:138px;height:112px;background:url(../images/contents/image-key60.png) no-repeat 0 0;}
    .boxInnerWrap{margin:0 0 0 50px;}
    .contentBoxTitle{display:block;margin:0 0 10px;color:#000;font-size:24px;line-height:26px;}
}
.visualHidden{@extend %visually-hidden;}
@media all and (min-width: 1001px) {
    .content-option{
        .contentNavigationList{
            .active{
                ul{
                    a{
                        &:hover{font-weight:700;}
                    }
                }
            }
        }
    }
    .customLink{
        &:hover{
            span{border-color:#515862;}
        }
        &.bgBlack{
            &:hover{
                span{border-color:#fff;}
            }
        }
    }
}
@media all and (max-width: 1590px) {
    h2{width:calc(100% - 60px);}
    .content-option{width:calc(100% - 60px);}
    .content-area{
        .content{width:calc(100% - 60px);}
    }
}
@media all and (max-width: 1460px) {
    .content-option{
        .contentNavigationList{
            button{padding:0 0 0 15px;
                &::before{right:10px;}
            }
        }
    }
}
@media all and (max-width: 1350px) {
    .content-option{
        .contentNavigation{flex:0 0 calc(100% - 390px);width:calc(100% - 390px);}
        .contentNavigationList{
            > li{flex:0 0 auto;width:auto;}
            button{padding:0 45px 0 15px;}
        }
        .asideLinks{flex:0 0 390px;width:390px;
            .shareList{width:270px;
                > span{display:none;}
                ul{margin:0;}
            }
        }
    }
}
@media all and (max-width: 1000px) {
    body{font-size:14px !important;}
    .bg-circle{height:150px;overflow:hidden;
        .circle{
            &.colorGreen{top:-33px;left:-15px;width:132px;height:132px;}
            &.colorBlue{top:-30px;right:-79px;width:145px;height:145px;}
            &.colorOrange{top:90px;right:15px;width:142px;height:142px;}
        }
    }
    .page-title{margin:0 auto;font-size:24px;line-height:26px;}
    .content-option{justify-content:flex-end;height:40px;margin:15px auto 0;
        &::before{display:none;}
        .contentNavigation{display:none;}
        .asideLinks{padding:0;
            > ul{
                > li:last-child{margin:0 0 0 6px;}
            }
            .contentShare,.contentPrint{width:40px;height:40px;background:#fff;box-shadow:5px 20px 20px rgba(72,136,173,.09);
                svg{width:17px;height:17px;color:#2b2b2b;}
            }
            .contentShare{
                svg{
                    &.inactive-icon{color:#fff;}
                }
            }
            .shareList{right:30px;width:170px;height:40px;box-shadow:5px 20px 20px rgba(72,136,173,.09);
                ul{
                    li{margin:0 0 0 4px;
                        &:first-child{margin:0}
                    }
                    button{width:24px;height:24px;
                        &::before{background-size:22px auto;}
                        &.facebook{
                            &::before{width:7px;height:11px;background-position:-7px -83px;}
                        }
                        &.instagram{
                            &::before{width:11px;height:11px;background-position:-6px -100px;}
                        }
                        &.meta{
                            &::before{width:10px;height:10px;background-position:-6px -117px;}
                        }
                        &.naver-blog{
                            &::before{width:8px;height:11px;background-position:-6px -132px;}
                        }
                        &.link{
                            &::before{width:12px;height:12px;background-position:-6px -149px;}
                        }
                    }
                }
            }
        }
    }
    .content-area{margin:-20px 0 0;padding:38px 0 0;border-radius:60px 60px 0 0;
        .content{width:calc(100% - 40px);margin:0 auto;
            &.program{margin:0 auto;}
        }
        h4{margin:20px 0 8px;font-size:16px;line-height:18px;}
        h5{font-size:15px;line-height:17px;}
    }
    .iconText{font-size:14px;}
    .contentBox{font-size:16px;line-height:24px;
        &::before{flex:0 0 16%;width:initial;max-width:138px;background-size:100% auto;background-position:50%;}
        .boxInnerWrap{flex:0 0 calc(84% - 30px);margin:0 0 0 30px;}
        .contentBoxTitle{font-size:18px;line-height:20px;}
    }
    .table{
        &.default{
            th,td{padding:13px 10px 15px;}
            tbody{
                > tr{
                    > th{width:85px;}
                }
            }
        }
        .innerCell{min-height:38px;}
    }
}
@media all and (max-width: 800px) {
    .table{
        &[data-table-response]{
            > colgroup{display:none;}
            > tbody{
                > tr{display:block;width:100%;border:none;text-align:left;
                    > th,> td{display:block;width:100%;border:none;text-align:left;}
                    > td{border-bottom:1px solid #eee;}
                }
            }
            &.program{
                > tbody{
                    > tr{
                        > th,> td{border:none;border-top:1px solid #666;}
                        > td{border-color:transparent;}
                        &:first-child{
                            > th,> td{border:none;border-top:1px solid #666;}
                            > td{border-color:transparent;}
                        }
                        > th{padding:10px 5px 0;}
                        > td{padding:0 5px 10px;}
                    }
                }
            }
        }
        .innerCell{min-height:20px;}
    }
}
@media all and (max-width: 500px) {
    .contentBox{display:block;padding:25px;border-radius:40px 10px 10px 10px;
        &::before{width:100px;height:82px;margin:0 auto;}
        .boxInnerWrap{margin:15px 0 0;}
    }
}