/* (주)한신정보기술 OOO - 2016.06.01 */

/* Layout */
#section1{}
#container {position:relative;margin:0;}

/* 사이드 메뉴 */
#side {display:inline; float:left; width:220px; margin:0; padding:0;}
#side .side_menu {}
#side .side_menu .side_title {padding:10px 0;border-bottom:2px solid #ccc;font-size:25px;font-weight:600;color:#333;text-align:center;}
#side .side_menu ul {width:100%; padding:0;margin:0;}
#side .side_menu ul li {margin:0;padding:0;border-bottom:solid 1px #d9d9d9;}
#side .side_menu ul li a {display: block; padding:10px 0 10px 28px; color:#686868;font-size:16px;text-decoration:none;line-height:20px;}
#side .side_menu ul li:first-child{border-top:none}
#side .side_menu ul li.on a, #side .sidemenu ul li a:hover{background:#616161; color:#fff; }
#side .side_menu ul ul {display: none;background:#f8f8f8}
#side .side_menu ul ul li {padding:0;margin:0;line-height:10px;border:none;border-top:1px solid  #d9d9d9;}
#side .side_menu ul ul li:first-child{border:none}
#side .side_menu ul ul li a {display:block;height:auto !important;padding:10px 0 10px 42px;color:#686868;font-size:15px; font-weight: normal !important;line-height:19px;letter-spacing:-1px}
#side .side_menu ul li.on li a {background:none;color:#686868 !important;font-weight: normal !important;}
#side .side_menu ul li.on ul{display:block;}
#side .side_menu ul ul li.on a, #side .sidemenu ul ul li a:hover {background:none;color:#4688d6 !important;}
@media all and (max-width:970px) {
    #side{display:none}
}

.colgroup {display:inline; float:right;width:930px;min-height:500px;margin:0; padding:0; }
.sub_visual{}
.sub_visual .wrap{height:110px;border-top:1px solid transparent;background:url(../images/sub/sub_visual_01.jpg) no-repeat right top;}
.sub_visual .sub_visual_text{margin:25px 0 0 20px;font-size:1.2em;}
.sub_visual .sub_visual_text strong{color:#0c55b1;font-size:1.3em;}
@media all and (max-width:930px) {
    .colgroup{width:100%}
}
@media all and (max-width:460px) {
    .sub_visual .sub_visual_text{font-size:1.1em;}
    .sub_visual .sub_visual_text strong{color:#0c55b1;font-size:1.2em;}
}
/* 콘텐츠 제목 */
.sub_head {position:relative;margin-bottom:20px;}
.sub_title {margin-left:2px;}
.sub_title h2 {margin:0;padding:10px 0 10px 25px;border-bottom:solid 1px #e3e3e3; background: url(../images/sub/sub_title_bg.gif) no-repeat 0 15px; color:#2d3437; font-size:1.4em;}

.path {position:relative;width:100%;height:20px;margin-top:10px;color:#7c7c7c;text-align:right;}
.path span{display:inline-block;width:16px;height:20px;vertical-align: middle;}
.path span.home{width:16px;background: url(../images/sub/path_home.png) no-repeat center 3px ;font-size:0;font-weight:normal;}
.path span.arrow{width:10px;background: url(../images/sub/path_arrow.png) no-repeat center center;font-size:0;font-weight:normal;}

/* 콘텐츠 */
#contents{margin:30px 0;min-height:300px;}
#contents .contents_empty{margin:50px auto 100px;text-align: center;}
@media only screen and (max-width:730px){
    #contents .contents_empty{margin:30px auto;}
    #contents .contents_empty img{width:100%}
}

/* 텝메뉴 */
.tab_menu{margin:20px 0}
.tab_menu li{display:inline;float:left;margin: 0;}
.tab_menu li a{display:block;padding:0 15px;border:solid 1px #d9d9d9;border-left:none;background:#f2f2f2;font-size:15px;line-height:40px;text-align:center;text-decoration:none;white-space:nowrap}
.tab_menu li.on a{border:solid 1px #4688D6;border-left:none;background:#4688d6;color:#fff;}
.tab_menu li a:hover{border:solid 1px #39a7ec;border-left:none;background:#39a7ec;color:#fff;}
.tab_menu li:first-child a{border:solid 1px #d9d9d9;}
.tab_menu li:first-child.on a{border:solid 1px #4688D6;}
.tab_menu li:first-child a:hover{border:solid 1px #39a7ec;}
@media only screen and (max-width:970px){
    .colgroup{display:block;float:none;width:100%;}
    #contents{margin:30px 3%;}
}

.admin_info{position:relative;margin:0 0 20px;padding:0 0 20px 0;border-bottom:1px dashed #bebebe;}
.admin_info .admin_icon{display:block;position:absolute;top:0;left:0;width:45px;height:45px;background:url(/site/www/images/sub/satisfaction_icon.png) #4d5360 no-repeat 50%;}
.admin_info ul{margin:0;padding:0;}
.admin_info ul li{float:left;margin:0 25px 0 0;color:#434343;}
.admin_info ul li span{display:inline-block;margin:0 10px 0 0;padding:0 0 0 17px;background:url(/site/www/images/sub/sub_sprite_image.png) no-repeat -406px -309px;color:#2c61ad;font-size:14px;font-weight:500;line-height:16px;}


.satisfaction_list{padding:20px 30px;background:url(/site/www/images/sub/box1_pattern1.png) #fff repeat;border:1px solid #ddd;border-top:2px solid #5c5c5c;}
.satisfaction_list .input_radio{margin:10px 0 15px;padding:0;}
.satisfaction_list .opinion{display:block;}
.satisfaction_list .opinion input[type="text"]{width:80%;height:37px;padding:0 5px;border:1px solid #e1e1e1;line-height:33px;}
.satisfaction_list .opinion input[type="submit"]{appearance:none;width:15%;height:37px;margin:0;padding:0 2.5%;background-color:#4d5360;border:none;color:#fff;line-height:37px;}

/* 스크롤 버튼 제어 */
.quickmenu {display:none;position:absolute; right:-120px; top:100px;z-index:100;width:100px;}
.quickmenu ul.list {padding:0;border:1px solid #eee}
.quickmenu ul.list li{border-top:1px solid #eee}
.quickmenu ul.list li a{display:block;padding:5px 20px 3px;}
.quickmenu .goto_top {width:100%;line-height:30px;text-align:center;}
@media all and (max-width:970px) {
    .quickmenu{display:none}
}


